<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<cityConfig>
    <elements>
        <item key="package">
            <value isVisible="false">
                <glyphClass>dev.javacity.core.BuildingGlyph</glyphClass>
                <mappings>
                    <entry>
                        <key>depth</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>color</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>alpha</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>width</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>terrainThickness</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>height</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                </mappings>
                <configInnerLayout layoutId="dev.javacity.core.visual.layout.ChessboardLayout" horizontalMargin="0.5" horizontalGap="1.0" verticalMargin="0.2" verticalGap="1.0"/>
            </value>
        </item>
        <item key="field">
            <value isVisible="false">
                <glyphClass>dev.javacity.core.BuildingGlyph</glyphClass>
                <mappings>
                    <entry>
                        <key>depth</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>color</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>alpha</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>width</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>terrainThickness</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>height</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                </mappings>
                <configInnerLayout layoutId="dev.javacity.core.visual.layout.ChessboardLayout" horizontalMargin="0.5" horizontalGap="1.0" verticalMargin="0.2" verticalGap="1.0"/>
            </value>
        </item>
        <item key="method">
            <value isVisible="false">
                <glyphClass>dev.javacity.core.BuildingGlyph</glyphClass>
                <mappings>
                    <entry>
                        <key>depth</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>color</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>alpha</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>width</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>terrainThickness</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>height</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                </mappings>
                <configInnerLayout layoutId="dev.javacity.core.visual.layout.ChessboardLayout" horizontalMargin="0.5" horizontalGap="1.0" verticalMargin="0.2" verticalGap="1.0"/>
            </value>
        </item>
        <item key="class">
            <value isVisible="false">
                <glyphClass>dev.javacity.core.BuildingGlyph</glyphClass>
                <mappings>
                    <entry>
                        <key>depth</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>color</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>alpha</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>width</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>terrainThickness</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                    <entry>
                        <key>height</key>
                        <value>
                            <mapperClassId>dev.javacity.core.visual.mapper.ConstantMapper</mapperClassId>
                            <modelProperties>1</modelProperties>
                        </value>
                    </entry>
                </mappings>
                <configInnerLayout layoutId="dev.javacity.core.visual.layout.ChessboardLayout" horizontalMargin="0.5" horizontalGap="1.0" verticalMargin="0.2" verticalGap="1.0"/>
            </value>
        </item>
    </elements>
</cityConfig>