<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dev.javacity.core.glyph" name="glyph" schema="schema/dev.javacity.core.glyph.exsd"/>
   <extension
         point="dev.javacity.core.glyph">
      <glyph
            class="dev.javacity.core.BuildingGlyph"
            id="dev.javacity.core.BuildingGlyph"
            name="Building">
      </glyph>
      <glyph
            class="dev.javacity.core.DistrictGlyph"
            id="dev.javacity.core.DistrictGlyph"
            name="District">
      </glyph>
      <mapper
            class="dev.javacity.core.visual.mapper.BoxplotMapper"
            id="dev.javacity.core.visual.mapper.BoxplotMapper"
            name="BoxplotMapper">
      </mapper>
      <mapper
            class="dev.javacity.core.visual.mapper.ColorLinearMapper"
            id="dev.javacity.core.visual.mapper.ColorLinearMapper"
            name="ColorLinearMapper">
      </mapper>
      <mapper
            class="dev.javacity.core.visual.mapper.ConstantMapper"
            id="dev.javacity.core.visual.mapper.ConstantMapper"
            name="ConstantMapper">
      </mapper>
      <mapper
            class="dev.javacity.core.visual.mapper.IdentityMapper"
            id="dev.javacity.core.visual.mapper.IdentityMapper"
            name="IdentityMapper">
      </mapper>
      <mapper
            class="dev.javacity.core.visual.mapper.NumericalLinearMapper"
            id="dev.javacity.core.visual.mapper.NumericalLinearMapper"
            name="NumericalLinearMapper">
      </mapper>
      <mapper
            class="dev.javacity.core.visual.mapper.ThresholdMapper"
            id="dev.javacity.core.visual.mapper.ThresholdMapper"
            name="ThresholdMapper">
      </mapper>
      <mapper
            class="dev.javacity.core.visual.mapper.BlockMapper"
            id="dev.javacity.core.visual.mapper.BlockMapper"
            name="BlockMapper">
      </mapper>
      <layout
            class="dev.javacity.core.visual.layout.ChessboardLayout"
            id="dev.javacity.core.visual.layout.ChessboardLayout"
            name="Chessboard">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.BricksLayout"
            id="dev.javacity.core.visual.layout.BricksLayout"
            name="BricksLayout">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.CircleLayout"
            id="dev.javacity.core.visual.layout.CircleLayout"
            name="CircleLayout">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.ConcentricalLayout"
            id="dev.javacity.core.visual.layout.ConcentricalLayout"
            name="ConcentricalLayout">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.RectanglePackingLayout"
            id="dev.javacity.core.visual.layout.RectanglePackingLayout"
            name="RectanglePackingLayout">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.SpiralLayout"
            id="dev.javacity.core.visual.layout.SpiralLayout"
            name="SpiralLayout">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.QuadraticLayout"
            id="dev.javacity.core.visual.layout.QuadraticLayout"
            name="QuadraticLayout">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.LineLayout"
            id="dev.javacity.core.visual.layout.LineLayout"
            name="LineLayout">
      </layout>
      <layout
            class="dev.javacity.core.visual.layout.ProgressiveBricksLayout"
            id="dev.javacity.core.visual.layout.ProgressiveBricksLayout"
            name="ProgressiveBricksLayout">
      </layout>
   </extension>

</plugin>
