<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dev.javacity.core.model.entity" name="Entity" schema="schema/dev.javacity.core.model.entity.exsd"/>
   <extension
         point="dev.javacity.core.model.entity">
      <entity
            class="dev.javacity.core.models.TClass"
            id="dev.javacity.core.models.TClass"
            name="class">
      </entity>
      <entity
            class="dev.javacity.core.models.TPackage"
            id="dev.javacity.core.models.TPackage"
            name="package">
      </entity>
      <entity
            class="dev.javacity.core.models.TMethod"
            id="dev.javacity.core.models.TMethod"
            name="method">
      </entity>
      <entity
            class="dev.javacity.core.models.TField"
            id="dev.javacity.core.models.TField"
            name="field">
      </entity>
   </extension>

</plugin>
