<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="javacity.model.entity" name="TEntity" schema="schema/javacity.model.entity.exsd"/>
   <extension-point id="javacity.model.metrics" name="metric" schema="schema/javacity.model.metrics.exsd"/>
   <extension
         point="javacity.model.entity">
      <element
            class="javacity.model.element.TClass"
            id="javacity.model.element.TClass"
            name="class">
      </element>
      <element
            class="javacity.model.element.TMethod"
            id="javacity.model.element.TMethod"
            name="method">
      </element>
      <element
            class="javacity.model.element.TField"
            id="javacity.model.element.TField"
            name="field">
      </element>
      <element
            class="javacity.model.element.TPackage"
            id="javacity.model.element.TPackage"
            name="package">
      </element>
      <relation
            class="javacity.model.relation.Access"
            id="javacity.model.relation.Access"
            name="access">
      </relation>
      <relation
            class="javacity.model.relation.Invocation"
            id="javacity.model.relation.Invocation"
            name="invocation">
      </relation>
      <relation
            class="javacity.model.relation.Inheritance"
            id="javacity.model.relation.Inheritance"
            name="inheritance">
      </relation>
   </extension>
   <extension
         point="javacity.model.metrics">
      <codeMetric
            class="javacity.model.metrics.NOA"
            elementId="javacity.model.element.TClass"
            id="javacity.model.metrics.NOA"
            name="NOA">
      </codeMetric>
      <codeMetric
            class="javacity.model.metrics.NOM"
            elementId="javacity.model.element.TClass"
            id="javacity.model.metrics.NOM"
            name="NOM">
      </codeMetric>
      <codeMetric
            class="javacity.model.metrics.LOC"
            elementId="javacity.model.element.TClass"
            id="javacity.model.metrics.LOC"
            name="LOC">
      </codeMetric>
   </extension>

</plugin>
